body {
  background-color: lightblue;
}
article section div{
  width: 74%;
  float: left;
}

aside div {
  width: 25%;
  float: left;
}

img {
  width: 100%;
  height: auto;
}

article section div img {
  width: 49%;
  height: auto;
}


li{
font-size: 24px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #40b9fb;
  border: 1px solid #000000;
}

nav ul li {
  float: left;
  font-size: 24px;
}

li a {
  display: block;
  color: #000000;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #0a74ae;
}
li a.active {
  color: white;
  background-color: #045bac;
}

p {
  font-size: 24px;
}

footer div {
  text-align: center;
  float: none;
}
